<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
  <div class="p-3 mb-2 text-white">

<div class="image">
  <center>
  <img src="{% static "images/contactme.jpg" %}" width="100%"></img>
</center>
<div class="jumbotron jumbotron-fluid bg-danger">
  <div class="container">
    <marquee><h1 class="display-3">About Us</h1></marquee>
    <p class="lead" style=""><b>This is an offical page of the ETA club.Our club has its own email-id and an fancy instagram account which will not only help you to keep in touch with us but also keep you up-to-date for forthcoming events.Details are provided below.As for now this website is maintained by Pranav and Dipro.</p>
  </div>
</div>
<div class="jumbotron jumbotron-fluid bg-info">
  <div class="container">
    <marquee><h1 class="display-3">Contact Us</h1></marquee>
    <a href="#"><img src="{%static "images/mail1.png"%}" width="18%" height="100%" align="right"></a></img>
    <a href="#"><img src="{%static "images/insta.jpg"%}" width="25%" height="25%" align="left"></a></img>
    <center>
    <p class=""><h4 class="text-dark">ETA offical mail-id:-<h4 class="text-danger"><a href="mailto:theetachronicle@gmail.com" class="text-danger">theetachronicle@gmail.com<br></a></p>
    <p class="text-dark"><h4 class="text-dark">ETA offical Instagram account:-<a href="https://www.instagram.com/theetachronicle/" class="text-danger"><br>@theetachronicle</p></a>
    </center>

  </div>
</div>


</div>
{% endblock %}
